<configuration scan="true">
  <jmxConfigurator />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.apache.http" level="OFF" />
  <!-- Header and Wire logging should always be OFF unless we're debugging
       a deep problem. Wire logging in particular will log out the entire
       contents of the HTTP requests and responses, which is a security issue. -->
  <logger name="org.apache.http.headers" level="OFF" />
  <logger name="org.apache.http.wire" level="OFF" />
  <logger name="com.mchange.v2.c3p0.impl.AbstractPoolBackedDataSource" level="OFF" />

  <root level="${LOGBACK_LOG_LEVEL:-WARN}">
    <appender-ref ref="${LOGBACK_APPENDER:-STDOUT}" />
  </root>

  <shutdownHook delay="${LOGBACK_SHUTDOWN_DELAY:-0}" />
</configuration>
